* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.container {
  padding: 0 20px;
}

.race {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.race__character-name {
  font-weight: bold;
}

.race__character-stats {
  display: flex;
  align-items: center;
  gap: 2px;
}

.race__character-stat {
  width: 80px;
  height: 15px;
  background-color: #0D8805;
  border: 1px solid #000;
}

.race__button {
  width: 50px;
  height: 30px;
}